addons:
    code_climate:
        repo_token: f88da1e629f7bd9569bb2b2f5cf43d92ed18e66b21653c9e5b4faf0a5571a0a6
language: php
php:
  - '7.0'
before_script: composer require atoum/atoum
script: vendor/bin/atoum -f src/tests/units/Hello.php
notifications:
  on_success: change
  on_failure: change
