addons:
    code_climate:
        repo_token: f88da1e629f7bd9569bb2b2f5cf43d92ed18e66b21653c9e5b4faf0a5571a0a6
language: php
php:
  - '7.0'
install:
  - composer install
script: 
 - ./vendor/bin/atoum -f src/tests/units/Hello.php
 - ./vendor/atoum/scripts/coverage.php -f my/test.php --output build/logs/clover.xml
 - CODECLIMATE_REPO_TOKEN=f88da1e629f7bd9569bb2b2f5cf43d92ed18e66b21653c9e5b4faf0a5571a0a6 ./vendor/bin/test-reporter
notifications:
  on_success: change
  on_failure: change
